@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');

:root {
    --font-family-sans-serif: 'Rubik', sans-serif !important;
}

body {
    background-color: #EFEFEF;
}

button,
button:focus,
textarea:focus,
textarea.form-control:focus,
input.form-control:focus,
input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus,
input[type=number]:focus,
[type=text].form-control:focus,
[type=password].form-control:focus,
[type=email].form-control:focus,
[type=tel].form-control:focus,
[contenteditable].form-control:focus {
    box-shadow: none;
}

p, h2, h1, h3, h4, h5, h6, a, button, input, textarea, select, a {
    font-family: 'Montserrat', sans-serif;
}

.bg-container {
    background-image: linear-gradient(to left bottom, #6c5ce7, #6f60e3, #7264df, #7468db, #776cd7);
    height: 100vh !important;
    overflow-y: scroll;
}

.my-radius {
    border-radius: 8px !important;
}

.icon-list {
    color: #EFEFEF;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 38px;
    width: 38px;
    background-color: #6c5ce7;
    margin-right: 17px;
    margin-left: 8px;
    transition: all 0.3s linear;

}

.list-item-home {
    border-radius: 8px !important;
    transition: all 0.2s ease-in-out;
    border: none !important;
}

.list-item-home .text-muted {
    font-size: 0.8em !important;
}

.list-item-home:hover {
    background-color: #6C5CE7;
    border-color: #6c5ce7;
}

.list-item-home:hover .icon-list {
    background-color: #E3EC62;
    color: #333;
}

.list-item-home:hover .card-body {
    color: #EFEFEF;
}

.list-item-home:hover .text-muted {
    color: #EFEFEF !important;
}

.page-link {
    border: 0;
    border-radius: 30px !important;
    transition: all 0.3s !important;
    padding: 0 8px !important;
    margin: 0 3px !important;
    min-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    color: #999;
    font-weight: 400 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    background: 0 0 !important;
    text-align: center !important;
}

.page-item.active .page-link {
    border: none !important;
    border-radius: 100% !important;
    background-color: #000;
    border-color: #000;
    box-shadow: 0 4px 5px 0 rgba(rgba(158, 158, 158, 1), 0.14),
        0 1px 10px 0 rgba(rgba(158, 158, 158, 1), 0.12),
        0 2px 4px -1px rgba(rgba(158, 158, 158, 1), 0.2);
}

.page-item.disabled .page-link {
    border: none !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

* {
    cursor: pointer !important;
}

div .loading-overlay {
    position: absolute;
    height: 70%;
    width: 100%;
    /* background-color: rgba(0, 0, 0, 0.5); */
    z-index: 99999;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: wait;
}

.loading-overlay .loading-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    height: 52px;
    width: 52px;
    background-color: #fff;
    box-shadow: -1px 1px 16px 3px rgba(0, 0, 0, 0.09);
    -webkit-box-shadow: -1px 1px 16px 3px rgba(0, 0, 0, 0.09);
    -moz-box-shadow: -1px 1px 16px 3px rgba(0, 0, 0, 0.09);
}


/* sesrch */
.input-group .form-control {
    border-radius: 25px !important;
    padding-left: 62px;
}

.input-group .input-group-append {
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    border-radius: 25px !important;
    /* border: 1px solid #ced4da; */
    z-index: 5;
    background-color: #e4e7eb;
    /* margin-left: 1px; */
    /* margin: 1.5px; */
}

.input-group .input-group-append i {
    color: #989b9d;
}


/* navbar */
.nav-custom {
    background-color: rgba(255, 255, 255, 0.9) !important;
}

.body-center {
    min-height: 70vh;
}