<template>
<div class="">
  <Headers :isIcons="true" to="/" v-if="show == true" />
  <div class="container pt-4">
    <div class="card head mb-3">
      <div class="container my-5">
        <div class="pl-3 mb-4">
          <h5>Daftar CCTV</h5>
        </div>
        <div class="pl-3 pr-3">
          <div class="">
            <div class="row">
              <div class="col-md-8 height-405">
                <!-- <p>player</p> -->
                <div>
                  <video-player ref="vid" :options="videoOptions" class="vjs-big-play-centered"/>
                </div>
              </div>
              <div class="col-md-4 height-405">
                <!-- <p>sidebar</p> -->
                <div class="side">
                  <div style="text-align: -webkit-center;" v-if="loadCCTV === true">
                    <div class="loader" ></div>
                  </div>
                  <div v-if="listCCTV.length !== 0" class="m-inline">
                    <div class="card m-card ml-3 mr-3 mb-3" v-for="(item,id) in listCCTV" :key="id" @click="playCCTV(item),active_el = id">
                      <div class="card shadow list-item-monitoring" :class="{ actived : active_el == id }">
                        <div class="card-body">
                          <div class="d-flex flex-row align-items-center">
                            <div>
                              <div class="icon-list rounded-circle">
                                <i class="fa fa-play" />
                              </div>
                            </div>
                            <div class="flex-fill ml-2">
                              <h6 class="title mb-0 ellipsis">
                                CCTV {{isURL(getNameCCTV(item.liveM3u8))  ? id : getNameCCTV(item.liveM3u8)}}
                              </h6>
                              <p class="text-muted m-0 ellipsis">
                                {{item.liveM3u8}}
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="text-center pt-5" v-if="listCCTV.length === 0 && loadCCTV === false">
                    <p class="text-muted m-0">
                      List CCTV Kosong
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-3 my-4 mpt-5" v-if="show == true">
          <h5>Chart</h5>
        </div>
        <div class="pl-3 pr-3" v-if="show == true">
          <div class="pt-2">
            <line-chart :data="dataChart" loading="Menunggu Data ..." empty="Data Belum Tersedia !"></line-chart>
          </div>
          <div class="">
            <div class="row">
              <div class="col-md-12 text-right">
                <span class="pt-2 mr-3">Timeframe :</span>
                <b-button-group>
                  <b-button 
                    v-for="(data, id) in timeframe" 
                    :key="id" 
                    @click="selectTime(data)"
                    :class="{active: settimeframe == data}"
                  >{{data}}</b-button>
                </b-button-group>
              </div>
            </div>
          </div>
        </div>
        <div class="pl-3 my-4" v-if="show == true">
          <h5>Detail Data</h5>
        </div>
        <div class="pl-3 pr-3" v-if="show == true">
          <div class="pt-3">
            <div class="row">
              <div class="col-md-6">
                <div class="card">
                  <div class="card-title">
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px">
                      <div class="p-2 font-weight-bold">Tanggal Awal :</div>
                      <div class="p-2"><input type="date" v-model="tgl_awal"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="card">
                  <div class="card-title">
                    <div class="d-flex align-items-center justify-content-center" style="height: 100px">
                      <div class="p-2 font-weight-bold">Tanggal Akhir :</div>
                      <div class="p-2"><input type="date" v-model="tgl_akhir"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="p-3">
            <div class="row">
              <table class="table table-md table-hover">
                <thead class="thead-dark text-left">
                  <tr>
                    <th></th>
                    <th>Nama Objek</th>
                    <th>Total</th>
                  </tr>
                </thead>
                <tbody class="border-left-right-bottom" v-for="(item, index) in dataList" :key="index">
                  <tr class="text-left">
                    <td>
                      <div class="square" :style="{'background-color':item.color}"></div>
                    </td>
                    <td>{{item.name}}</td>
                    <td>{{item.total}}</td>
                  </tr>
                </tbody>
                <tbody v-if="tgl_awal === '' || tgl_akhir === ''">
                  <tr class="text-center">
                    <td colspan="3">Data Kosong Pilih Tanggal {{tgl_awal === '' ? 'Awal':''}} {{tgl_awal === '' ? tgl_akhir === '' ? 'dan':'' : ''}} {{tgl_akhir === '' ? 'Akhir' : ''}} !!!</td>
                  </tr>
                </tbody>
                <tbody v-if="loading === true" style="text-align: -webkit-center;">
                  <tr>
                    <td colspan="3">
                      <div class="loader"></div>
                    </td>
                  </tr>
                </tbody>
                <tbody v-if="dataList.length === 0 && loading === false && tgl_awal !== '' && tgl_akhir !== ''">
                  <tr>
                    <td colspan="3">Tidak Ada Data !!</td>
                  </tr>
                </tbody>
              </table>
              <div class="col-md-2 text-left">
              </div>
            </div>
          </div>
          <div>
            <button type="button" class="btn btn-secondary btn-lg btn-block" @click="exportData('1',machineId,tgl_awal,tgl_akhir)">Export Data <i class="fa fa-file-excel-o"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</template>

<script>
import socket from '~/plugins/websocket.js'
import { io } from "socket.io-client";
import moment from "moment";
import VideoPlayer from "@/components/VideoPlayer.vue";

import 'video.js/dist/video-js.css'
import 'font-awesome/css/font-awesome.min.css'

const HEAD = {
  headers: {
    Authorization: "Basic bXVsdGVjOm11bHQzYw==",
    "Content-Type": "application/json"
  },
  crossdomain: true
}
const baseURL = process.env.NODE_ENV !== 'production' ? 'https://server-lhr.multec-api.com/' : 'https://server-lhr.multec-api.com/'

export default {
  head: {
    title: 'LHR - Monitoring',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'Welcome to LHR - Home',
      },
    ],
  },
  components:{
    VideoPlayer
  },
  data() {
    return {
      dataChart: [],
      timeframe: [1, 5, 30, 60],
      settimeframe: '',
      videoOptions: {
				autoplay: false,
				controls: false,
        crossOrigin: 'use-credentials',
				sources: [
					{
						src: '',
            type: "application/x-mpegURL"
					}
				]
			},
      machineId: '',
      tgl_awal: '',
      tgl_akhir: '',
      active_el: 0,
      dataList:[],
      listCCTV:[],
      color:[
        {color:'#3466CC'},
        {color:'red'},
        {color:'yellow'},
        // {color:'orange'},
        // {color:'blue'}
      ],
      loading: false,
      loadCCTV: false,
      show: true,
    };
  },
  async beforeMount() {
    this.machineId = await this.getMachineId(this.$route.params.id);
    await socket.emit("datachart", String(this.machineId), String(1), 5, 5);
    this.settimeframe = 5;
    this.getListCCtv();
  },
  mounted() {
    if (this.$route.query.inapp == "true") {
      this.show = false
    }else {
      this.show = true
    }
    socket.on('message', (data) => {
      // console.log(data);
      this.getDataChart(data)
    })
  },
  methods: {
    Capitalize(s) {
      return s && s[0].toUpperCase() + s.slice(1);
    },
    playCCTV(val) {
      this.videoOptions.sources[0].src = val.liveM3u8;
      // console.log(this.$refs.vid);
      this.$refs.vid.player.reset();
      this.$refs.vid.player.src(val.liveM3u8);
      this.$refs.vid.player.play();
    },
    getDataChart(val) {
      let newArr = [];
      Object.keys(val.data).forEach((key, i) => {
        var name_object = this.Capitalize(key);
        let itemData = {};

        val.data[String(key)].map((item, index) => {
          Object.assign(itemData, { [this.formatDate(val.datetime[index])]: item });
        });

        let myObj = {
          name: name_object,
          data: itemData || null
        };

        let index = newArr.findIndex(o => o.name === myObj.name);
        if (index === -1) {
          newArr.push(myObj);
        } else if (index >= 0) {
          newArr[index] = myObj;
        }
      });
      this.dataChart = newArr;
    },
    async getListCCtv() {
      this.loadCCTV = true
      let list = await this.$axios.$get(`master/machine/${this.machineId}`,HEAD)
      .then(res =>{
        this.loadCCTV = false
        return res
      }).catch(err =>{
        console.log(err);
        this.loadCCTV = false
      })
      list.data.cam.forEach(element => {
        this.listCCTV.push(element)
      });
    },
    async getMachineId(val) {
      let id = await this.$axios.$get(`master/id/${val}`,HEAD).then(res =>{
        return res
      }).catch(err =>{
        console.log(err);
      })
      if (id) {
        return id.data.id_machine
      }
    },
    selectTime(val) {
      // console.log(val);
      this.settimeframe = val;
      socket.emit("disconnection");
      setTimeout(() => {
        this.dataChart = [];
        socket.emit("datachart", String(this.machineId), String(1), 5, val);
          socket.on('message', (data) => {
          // console.log(data);
          this.getDataChart(data)
        })
      }, 500);
    },
    async getGrafikDay(index,machineId,dateStart,dateEnd) {
      this.dataList = []
      this.loading = true
      let total = await this.$axios.$get(`data/grafikday/${index}/${machineId}/${dateStart}/${dateEnd}/${this.settimeframe}`,HEAD)
      .then(res =>{
        return res
      }).catch(err =>{
        console.log(err);
        this.loading = false
      })
      if (total) {
        // console.log(total.data);
        let data = total.data
        let field = []
        Object.keys(data).forEach((key, i) => {
          // console.log(data[key]);
          if (data[key] !== null) {
            field.push({
              name : key,
              color: this.color[i].color,
              total: data[key].reduce((a, b) => a + b, 0)
            })
          }
        })
        // console.log(field);
        this.loading = false
        this.dataList = field
      }
    },
    exportData(index,machineId,dateStart,dateEnd){
      this.$axios.$get(`data/exportgrafikday/${index}/${machineId}/${dateStart}/${dateEnd}/${this.settimeframe}`,HEAD)
      .then(res =>{
        // console.log(res);
        window.open(baseURL+"public/"+res.path, "_blank")
      }).catch(err =>{
        console.log(err);
      })
    },
    formatDate(date) {
      // console.log(date);
      return moment(date).utc().format("YYYY-MM-DD hh:mm:ss a");
    },
    getNameCCTV(val) {
      val = val.replace('https://kediri.marktel.co/camera/', '')
      val = val.replace('.m3u8', '')
      return val;
    },
    isURL(string) {
      var res = string.match(/(http(s)?:\/\/.)?(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,6}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)/g);
      return (res !== null)
    }
  },
  watch:{
    tgl_awal(){
      if (this.tgl_akhir !== '') {
        this.getGrafikDay('1',this.machineId,this.tgl_awal,this.tgl_akhir)
      }
    },
    tgl_akhir(){
      if (this.tgl_awal !== '') {
        this.getGrafikDay('1',this.machineId,this.tgl_awal,this.tgl_akhir)
      }
    }
  }
};
</script>

<style scoped>
@import url('~assets/home/custom.css');
@import url('~assets/monitoring/custom.css');
.active{
  background-color: #545b62;
  border-color: #4e555b;
}
</style>
