<template>
  <div class="card shadow list-item-home mb-4" @click="$emit('click')">
    <div class="card-body">
      <div class="d-flex flex-row align-items-center">
        <div>
          <div class="icon-list rounded-circle">
            <i class="fa fa-video-camera" />
          </div>
        </div>
        <div class="flex-fill ml-2">
          <h6 class="title mb-0">
            {{ jalan }}
          </h6>
          <p class="text-muted m-0">
            {{ kota }}
          </p>
        </div>
        <div>
          <i class="fa fa-angle-right" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['kota', 'jalan'],
}
</script>

<style scoped>
@import url('~assets/home/custom.css');
</style>
