<template>
  <nav class="navbar sticky-top navbar-light bg-light nav-custom shadow">
    <i class="fa fa-arrow-circle-left fa-2x" v-if="isIcons === true" @click="goTo(to)"></i>
    <a class="navbar-brand" href="#">LHR</a>
  </nav>
</template>

<script>
import socket from '~/plugins/websocket.js'

export default {
  props:{
    isIcons: true,
    to:''
  },
  data() {
    return {
      isVisibleStickyMenu: false,
    }
  },
  methods: {
    goTo(to) {
      socket.emit("disconnection");
      this.$router.push({
        path: `${to}`
      })
    }
  },
  watch: {
    currentScrollY(val) {
      console.log('heder: ',val);
      if (val > 100) {
        this.isVisibleStickyMenu = true
      } else {
        this.isVisibleStickyMenu = false
      }
    },
  },
}
</script>
