.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  width: 40px;
  height: 40px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
}
/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
::-webkit-datetime-edit {
  padding: 0.5em;
  font-weight: 800;
}
.center-screen {
  /* display: flex; */
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.height-405 {
  height: 405px;
}
.head {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.side {
  overflow-y: auto;
  /* height: 84% !important; */
  height: 100% !important;
}
.square {
  height: 0;
  width: 20%;
  padding-bottom: 20%;
  border-radius: 4px;
}
.border-left-right-bottom {
  border-left: 1px solid #dee2e6;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}
div.side::-webkit-scrollbar {
  width: 5px;
}
div.side::-webkit-scrollbar-track {
  background: #f1f1f1;
}
div.side::-webkit-scrollbar-thumb {
  background: #888;
}
div.side::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.ellipsis{
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 190px;
}
.actived, .list-item-monitoring:hover {
  background-color: #6C5CE7;
  border-color: #6c5ce7;
}

.actived, .list-item-monitoring:hover .icon-list {
  background-color: #E3EC62;
  color: #333;
}

.actived, .list-item-monitoring:hover .card-body {
  color: #EFEFEF;
}

.actived, .list-item-monitoring:hover .text-muted {
  color: #EFEFEF !important;
}
@media screen and (max-width: 767px) {
  .mpt-5 {
    padding-top: 1rem !important;
  }
  .side {
    overflow-x: auto;
    height: 100% !important;
  }
  .m-inline{
    display: inline-flex;
    height: 85px !important;
    margin: 10px;
  }
  .ellipsis{
    display: none;
  }
  .height-405 {
    height: auto;
  }
  /* .m-card{
    width: 10% !important;
  } */
  div.side::-webkit-scrollbar {
    width: 5px;
  }
}