<template>
  <div class="">
    <div class="container pt-4">
      <div class="card head shadow mb-3">
        <div class="container my-5">
          <div class="text-center">
            <h5>LHR</h5>
            <span class="font-weight-bold"> LALU LINTAS HARIAN RAMBU DISHUB</span>
            <p @click="logout">LOGOUT</p>
          </div>
          <div class="">
            <div class="row justify-content-md-left">
              <div class="col-12">
                <div class="card pt-3 pb-3 pr-3 pl-3 mt-5">
                  <div class="row text-left">
                    <div class="col-md-12">
                      <div class="card pt-3 pb-3 pr-3 pl-3">
                        <h4 class="card-title text-left">Input Data Lokasi</h4>
                          <div class="row">
                            <div class="col-md-12">
                              <div class="form-group">
                                <label>ID Machine</label>
                                <input type="text" class="form-control shadow-none" placeholder="ID Machine" v-model="idm" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Nama Lokasi</label>
                                <input type="text" class="form-control shadow-none" placeholder="Nama Lokasi" v-model="lokasi" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Nama Kota</label>
                                <input type="text" class="form-control shadow-none" placeholder="Nama Kota" v-model="kota" required>
                              </div>
                            </div>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Longitude</label>
                                <input type="text" class="form-control shadow-none" placeholder="Longitude" v-model="long" required>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-group">
                                <label>Latitude</label>
                                <input type="text" class="form-control shadow-none" placeholder="Latitude" v-model="lat" required>
                              </div>
                            </div>
                            <!-- <div class="col-md-6">

                            </div> -->
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <div class="table-responsive-sm">
                                <table class="table table-striped table-hover">
                                  <thead class="thead-dark">
                                    <tr>
                                      <th rowspan="2" class="font-weight-bold text-center" scope="col" width="5%">NO.</th>
                                      <th rowspan="2" class="font-weight-bold text-center" scope="col">Nama Camera</th>
                                      <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr v-for="(row, index) in rows" :key="index">
                                      <td class="text-center font-weight-bold">{{index+1}}</td>
                                      <td>
                                        <div class="row">
                                          <div class="col-md-12">
                                            <input type="text" 
                                              class="form-control shadow-none" 
                                              placeholder="Camera" 
                                              v-model="row.kamera">
                                            <!-- <multiselect 
                                              v-model="row.selectedCam" 
                                              :options="options" 
                                              placeholder="Select Camera" 
                                              :loading="isSearchCam"
                                              @search-change="GetCam"
                                              @select="afterSelectCam"
                                              :allow-empty="false"
                                              :showLabels="false"
                                              >
                                            </multiselect> -->
                                          </div>
                                        </div>
                                      </td>
                                      <td class="text-center">
                                        <button type="button" class="btn btn-danger round btn-sm" @click="removeRow(index)">
                                          <i class="fa fa-minus"></i>
                                        </button>
                                      </td>
                                    </tr>
                                  </tbody>
                                  <tfoot>
                                    <td colspan="6">
                                      <button @click="addRow" class="btn round btn-sm btn-info">
                                        <i class="fa fa-plus"></i>
                                      </button>
                                    </td>
                                  </tfoot>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="text-right">
                            <button @click="ResetAll()" type="reset" class="btn btn-danger">Batal</button>
                            <button @click="simpan()" class="btn btn-success" :disabled="disabled">
                              <span v-if="disabled">
                                <i class="fa fa-spinner fa-pulse"></i> Proses...
                              </span>
                                <span v-else>Simpan</span>
                            </button>
                          </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-12">
                      <div class="card pt-3 pb-3 pr-3 pl-3 mt-3">
                        <div class="row">
                          <div class="col-md-12">
                            <div class="input-group mb-2">
                              <input type="text" class="form-control shadow-none" placeholder="Cari Nama Lokasi" v-model.trim="keywords">
                                <div class="input-group-append">
                                  <button class="btn btn-secondary" type="button">
                                    <i class="fa fa-search"></i>
                                  </button>
                                </div>
                            </div>
                            <div class="">
                              <table class="table table-md table-striped table-hover table-responsive-sm table-responsive-md">
                                <thead class="thead-dark">
                                  <tr>
                                    <th>#</th>
                                    <th>ID Machine</th>
                                    <th>Nama Lokasi</th>
                                    <th>Nama Kota</th>
                                    <th>Latitude</th>
                                    <th>Longitude</th>
                                    <th></th>
                                    <th></th>
                                    <th></th>
                                  </tr>
                                </thead>
                                <tbody class="table-bordered" v-for="(item, index) in content" :key="index">
                                  <tr >
                                    <td>{{(currentPageWeek-1)*perHalamanWeek+(index+1)}}</td>
                                    <td>{{item.id_machine}}</td>
                                    <td>{{item.jalan}}</td>
                                    <td>{{item.kota}}</td>
                                    <td>{{item.latitude}}</td>
                                    <td>{{item.longitude}}</td>
                                    <td class="text-center">
                                      <button type="button" class="btn btn-primary round btn-sm" @click="detailRow(item)">
                                        <i class="fa fa-info-circle"></i>
                                      </button>
                                    </td>
                                    <td class="text-center">
                                      <button type="button" class="btn btn-info round btn-sm" @click="chartRow(item)">
                                        <i class="fa fa-area-chart"></i>
                                      </button>
                                    </td>
                                    <td class="text-center">
                                      <button type="button" class="btn btn-danger round btn-sm" @click="deleteRow(item)">
                                        <i class="fa fa-trash"></i>
                                      </button>
                                    </td>
                                  </tr>
                                  <!-- <th rowspan="100">Camera</th> -->
                                  <tr>
                                    <td colspan="2" class="font-weight-bold">Camera</td>
                                    <td colspan="2" class="font-weight-bold">Alamat URL 1</td>
                                    <td colspan="2" class="font-weight-bold">Alamat URL 2</td>
                                    <td colspan="3" class="font-weight-bold text-center">Status</td>
                                    <!-- <td colspan="3"></td> -->
                                  </tr>
                                  <tr class="bg-light" v-for="(a, b) in item.cam" :key="b">
                                    <td colspan="2">{{a.no}}</td>
                                    <td colspan="2">{{a.liveM3u8}}</td>
                                    <td colspan="2">{{a.liveRTMP}}</td>
                                    <td colspan="3" class="text-center">
                                      <span v-if="a.indicator == true"><i class="fa fa-check" style="color: green;"></i></span>
                                      <span v-if="a.indicator == false"><i class="fa fa-ban" style="color: red;"></i></span>
                                    </td>
                                    <!-- <td colspan="3"></td> -->
                                  </tr>
                                </tbody>
                                <tbody v-if="content.length === 0">
                                  <tr class="text-center">
                                    <td colspan="9">Data Tidak Ditemukan !!!</td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                            <div class="row">
                              <div class="col-md-12">
                                <div class="text-right">
                                  <b-pagination size="md" :total-rows="countWeek" v-model="currentPageWeek" :per-page="perHalamanWeek" @input="LihatData(currentPageWeek)"></b-pagination>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
            <b-modal v-model="hapusModal"
              title="KONFIRMASI HAPUS"
              ok-title="Ya, Hapus!"
              @ok="simpan"
              @cancel="ResetAll"
              ok-variant="danger btn-fill btn-sm"
              cancel-variant="secondary btn-fill btn-sm">
              <p class="my-2">Apakah anda yakin, ingin menghapus data ini?</p>
            </b-modal>

            <b-modal v-model="detailModal"
              title="Detail Lokasi"
              size="md"
              hide-footer
              header-bg-variant="bg-primary">
              <b-container>
                <div class="row mt-1">
                  <div class="col-md-12">
                    <label style="margin: 0px;">Nama Lokasi</label>
                    <b-form-input
                      v-model="detailData.jalan" readonly>
                    </b-form-input>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-12">
                    <label style="margin: 0px;">Nama Kota</label>
                    <b-form-input
                      v-model="detailData.kota" readonly>
                    </b-form-input>
                  </div>
                </div>
                <div class="row mt-2">
                  <div class="col-md-6">
                    <label style="margin: 0px;">Latitude</label>
                    <b-form-input
                      v-model="detailData.lat" readonly>
                    </b-form-input>
                  </div>
                  <div class="col-md-6">
                    <label style="margin: 0px;">Longitude</label>
                    <b-form-input
                      v-model="detailData.long" readonly>
                    </b-form-input>
                  </div>
                </div>
              </b-container>
            </b-modal>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue'
import axios from "axios";
import _ from "lodash";
import Multiselect from 'vue-multiselect'
import 'font-awesome/css/font-awesome.min.css'
import { log } from 'video.js';

const HEAD = {
  headers: {
    Authorization: "Basic bXVsdGVjOm11bHQzYw==",
    "Content-Type": "application/json"
  },
  crossdomain: true
};

export default {
  middleware: 'auth',
  head: {
    title: 'LHR - Admin',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'Welcome to LHR - Home',
      },
    ],
  },
  components: {
    Multiselect
  },
  data () {
    return {
      id: "",
      idm: "",
      lokasi: "",
      kota: "",
      lat: "",
      long: "",
      keywords: "",
      message:'',
      content: [],
      detailModal: false,
      hapusModal: false,
      disabled: false,
      isSearchCam: false,
      currentPageWeek: 1,
      perHalamanWeek: 5,
      countWeek: 0,
      detailData: {},
      value: [],
      options: [],
      camera: [],
      rows: [
        {
          kamera: ""
        }
      ]
    }
  },
  mounted() {
    this.LihatData();
    // this.GetCam();
  },
  watch: {
    keywords: _.debounce(function() {
      this.currentPage = 1;
      this.LihatData();
    }, 500)
  },
  methods: {
    async logout(){
      await this.$auth.logout()
    },
    async LihatData(page) {
      let lihat = await this.$axios.$get(`master/listkota?page=${page?page:1}&filter=${this.keywords}`,HEAD)
      .then(res =>{
        return res
      }).catch(err =>{
        console.log(err);
      })
      // console.log(lihat);
      if (lihat) {
        this.content = lihat.data;
        this.countWeek = parseInt(lihat.total);
      }
    },
    async GetCam() {
      this.isSearchCam = true;
      let camera = await this.$axios.$get(`master/geturl`,HEAD)
      .then(res =>{
        return res
      }).catch(err =>{
        this.isSearchCam = false;
        console.log(err);
      })
      if (camera) {
        this.isSearchCam = false;
        let data = camera.data.url
        this.options.push(data);
      }
    },
    detailRow(val) {
      // console.log(val);
      this.detailModal = true;
      if ( val.cam === undefined || val.cam.length == 0) {
        this.camera = "";
        this.message = "Belum ada data untuk ditampilkan."
      } else {
        this.camera = val.cam;
        this.message = "";
      }
      this.detailData = {
        jalan: val.jalan,
        kota: val.kota,
        lat: val.latitude,
        long: val.longitude,
      }
    },
    chartRow(val) {
      console.log(val);
      this.$router.push({
        name: 'chart',
        params: {
          id: val._id
        }
      })
    },
    afterSelectCam() {
      this.options = [];
    },
    addRow() {
      this.rows.push({
        kamera: ""
      });
      // this.GetCam();
    },
    removeRow(index) {     
      if (this.rows.length > 1) {
        this.rows.splice(index, 1);
      } else {
        this.rows = [
          {
            kamera: ""
          }
        ];
      }
    },
    simpan() {
      // e.preventDefault();
      if (this.idm==''||this.lokasi==''||this.kota==''||this.long==''||this.lat=='') {
          alert('Lengkapi dulu data anda')
          return false;
        }
      this.disabled = true;
      var detail = [];
      this.rows.map((item, index) =>{
        let newItem = {};
        if (item) {
          newItem = {
            name: item.kamera
          }
          detail.push(newItem)
        }
      })
      let data = {
        id_machine : this.idm,
        jalan : this.lokasi,
        latitude : this.lat,
        longitude : this.long,
        kota : this.kota,
        cam : detail,
      }
      // console.log(data);
      
      let kirim, message
      if (this.id) {
        if (this.hapusModal) {
          kirim = this.$axios.$delete(`master/delete/${this.id}`,HEAD)
          message = 'Hapus'
        }
      } else {
        kirim = this.$axios.$post(`master/add`, data, HEAD)
        message = 'Simpan'
      }
      kirim
      .then(res =>{
        // console.log(res);
        this.makeToast('success',message)
        this.disabled = false
        this.LihatData();
        this.ResetAll();
      }).catch(err =>{
        this.makeToast1('danger',message);
        this.disabled = false
        console.log(err);
      })
    },
    ResetAll() {
      if (this.id) {
        this.hapusModal = false
      }
      this.lokasi = ""
      this.lat = ""
      this.long = ""
      this.id = ""
      this.idm = ""
      this.rows = [{
        kamera: ""
      }]
      // this.GetCam();
    },
    makeToast(variant, message) {
      this.$bvToast.toast(`${message} Data Berhasil`, {
        title: `Info`,
        variant: variant,
        solid: true
      })
    },
    makeToast1(variant, message) {
      this.$bvToast.toast(`${message} Data Gagal`, {
        title: `Info`,
        variant: variant,
        solid: true
      })
    },
    deleteRow(val) {
      // console.log(val);
      this.hapusModal = true
      this.id = val._id
    },
  },
}
</script>

<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>
<style scope>
@import url('~assets/home/custom.css');
</style>
<style lang="scss">
.form-control::-webkit-input-placeholder { color: rgb(200, 200, 200); }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: rgb(200, 200, 200); }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: rgb(200, 200, 200); }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: rgb(200, 200, 200); }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: rgb(200, 200, 200); }  /* Microsoft Edge */

label {
  margin-bottom: 0;
  margin-left: 1px;
}
table  th:nth-child(1){
  border-radius: 6px 0px 0px 0px;
}
table  th:nth-last-child(1){
  border-radius: 0px 6px 0px 0px;
}
.table th, .table td {
  border-top: 0px !important;
}
.table .thead-dark th {
  border: 0 !important;
}
.round {
    border-radius: 100% !important ;
    margin: 0 1px !important;
    color: #fff;
    padding: 0 !important;
    cursor: pointer;
    display: inline-flex !important;
    justify-content: center !important;
    align-items: center !important;
    width: 28px !important;
    height: 28px !important;
    border: none !important;
}
.round-active {
color: #fff !important;
}

/* style pagination */

.page-link {
    border: 0;
    border-radius: 30px!important;
    transition: all .3s !important;
    padding: 0 8px !important;
    margin: 0 3px !important;
    min-width: 30px !important;
    height: 30px !important;
    line-height: 30px !important;
    color: #999;
    font-weight: 400 !important;
    font-size: 12px !important;
    text-transform: uppercase !important;
    background: 0 0 !important;
    text-align: center !important;
}

.page-item.active .page-link {
  border: none !important;
  border-radius: 100%;
  background-color: #000000 !important;
  border-color: #000000 !important;
  box-shadow: 0 4px 5px 0 rgba(rgba(158,158,158 ,1), 0.14), 0 1px 10px 0 rgba(rgba(158,158,158 ,1),.12), 0 2px 4px -1px rgba(rgba(158,158,158 ,1),.2);
}
// rgba(238,238,238 ,1)

.page-item.disabled .page-link {
  border: none !important;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
}

.multiselect__option--highlight {
    background: whitesmoke !important;
    outline: none;
    color: #444
}

.multiselect__option--highlight:after {
    content: attr(data-select);
    background: whitesmoke !important;
    color: #444
}

.multiselect__option--selected.multiselect__option--highlight {
    background: #f54040 !important;
    color: #fff
}

.multiselect__option--selected.multiselect__option--highlight:after {
    background: #f54040 !important;
    color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight {
    background: #f54040 !important;
    color: #fff
}

.multiselect__option--group-selected.multiselect__option--highlight:after {
    background: #f54040 !important;
    color: #fff
}

.multiselect__tag{
    background: #f54040 !important;
    border-radius: 25px;
    padding-left: 15px; 
}

.multiselect__placeholder {
    padding-top: 0px !important;
    margin: 0px !important;
}

.multiselect__tags {
    font-size: 1rem !important;
    padding: 7px 40px 0px 12px !important;
}

.multiselect__tag-icon:after {
    content: "\D7";
    color: #ffff !important;
    font-size: 14px
}

.multiselect__tag-icon:focus,
.multiselect__tag-icon:hover {
    background: #b51010 !important;
    border-radius: 50%;
}

.multiselect__input::-webkit-input-placeholder {
    color: #DDDDDD !important;
}

.multiselect__input:-ms-input-placeholder {
    color: #DDDDDD !important;
}

.multiselect__input::placeholder {
    color: #DDDDDD !important;
}

</style>

