<template>
  <div class="">
    <Headers />
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="card my-radius p-4 my-5 body-center">
            <div class="">
              <div class="col-12">
                <div class="input-group mb-5">
                  <div class="input-group-append">
                    <i class="fa fa-search"></i>
                  </div>
                  <input
                    type="text"
                    class="form-control shadow-none"
                    placeholder="Cari Nama Lokasi"
                    v-model.trim="keywords"
                  />
                </div>
                <!-- <p v-if="$fetchState.pending">Loading....</p>
                <p v-else-if="$fetchState.error">
                  Error while fetching mountains
                </p> -->
                <!-- <ul v-else>
                  <li v-for="(mountain, index) in mountains" :key="index">
                    {{ mountain.title }}
                  </li>
                </ul> -->
                <!-- Card list -->
                <div>
                  <div>
                    <h5 class="mb-4">Daftar Lokasi {{ $fetchState.error }}</h5>
                  </div>
                  <div v-if="$fetchState.pending" class="text-center">
                    <b-spinner
                      v-if="dataLHR.length == 0"
                      label="Loading..."
                      class="my-5"
                      style="color: #6c5ce7"
                    ></b-spinner>
                    <div v-else-if="dataLHR.length > 0" class="loading-overlay">
                      <div class="loading-box">
                        <b-spinner
                          style="color: #6c5ce7"
                          label="Loading..."
                        ></b-spinner>
                      </div>
                    </div>
                  </div>
                  <div
                    v-else-if="$fetchState.error"
                    class="alert alert-danger text-center my-5"
                    role="alert"
                  >
                    Error while fetching data!
                  </div>
                  <homeList
                    v-for="(item, index) in dataLHR"
                    :key="index"
                    v-bind:kota="Capitalize(item.kota)"
                    v-bind:jalan="Capitalize(item.jalan)"
                    @click="openLocation(item._id)"
                  />
                </div>

                <!-- Card List End -->
                <div
                  class="
                    mt-5
                    d-flex
                    justify-content-center
                    align-items-center align-self-center
                  "
                >
                  <b-pagination
                    v-if="dataLHR.length > 0"
                    pills
                    size="md"
                    align="center"
                    hide-goto-end-buttons
                    next-text="Next"
                    prev-text="Prev"
                    :total-rows="count"
                    v-model="currentPage"
                    :per-page="perHalaman"
                    @input="LihatData"
                  ></b-pagination>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'font-awesome/css/font-awesome.min.css'
import _ from 'lodash'

export default {
  name: 'IndexPage',

  head: {
    title: 'LHR - Home',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'Welcome to LHR - Home',
      },
    ],
  },
  data() {
    return {
      page: 1,
      keywords: '',
      dataLHR: [],
      currentPage: 1,
      perHalaman: 10,
      count: 0,
    }
  },
  beforeMount() {
    window.addEventListener('scroll', this.handleScroll)
  },
  beforeDestroy() {
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    Capitalize(s) {
      return s && s[0].toUpperCase() + s.slice(1)
    },
    LihatData(toPage) {
      this.page = toPage
      this.$fetch()
    },
    openLocation(id) {
      this.$router.push({
        path: `/monitoring/${id}`,
        params: {
          id: id,
        },
      })
    },
    handleScroll() {
      // this.$store.dispatch('page/setCurrentScrollY', window.scrollY)
      // console.log(window.scrollY)
    },
  },
  watch: {
    keywords: _.debounce(function () {
      this.currentPage = 1
      this.$fetch()
    }, 500),
  },
  activated() {
    // Call fetch again if last fetch more than 30 sec ago
    if (this.$fetchState.timestamp <= Date.now() - 30000) {
      this.$fetch()
    }
  },
  async fetch() {
    let listKota = await this.$axios
      .$get(
        `master/listkota?page=${this.page}&per_page=${this.perHalaman}&filter=${this.keywords}`,
        {
          progress: false,
          headers: {
            Authorization: 'Basic bXVsdGVjOm11bHQzYw==',
            'Content-Type': 'application/json',
          },
        }
      )
      .then((response) => {
        return response
      })
      .catch((error) => {
        this.dataLHR = []
        if (!error.status) {
          // console.log('net iki ', error)
          return (this.$fetchState.error = 'Network Error')
        } else {
          // console.log('error iki ', error)
          return (this.$fetchState.error = error)
          // this.$fetchState.error = error
        }
      })

    if (listKota) {
      this.dataLHR = listKota?.data || []
      this.count = listKota?.total
      this.currentPage = listKota?.current_page
      this.$fetchState.error = null
    }
  },

  mounted() {
    this.$fetch()
  },
}
</script>

<style scoped>
@import url('~assets/home/custom.css');
</style>
