<template>
  <div class="">
    <div class="container pt-4">
      <div class="card head shadow wrap-login100">
        <div class="container my-5">
          <div class="row">
            <div class="col md-6">
              <img
                src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png"
                alt="IMG"
              />
            </div>
            <div class="col md-6 text-center">
              <form class="login100-form validate-form">
                <span class="login100-form-title"> Admin Login </span>
                <div
                  class="wrap-input100 validate-input"
                  data-validate="Valid email is required: ex@abc.xyz"
                >
                  <input
                    class="input100"
                    type="text"
                    v-model="username"
                    placeholder="username"
                  />
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  class="wrap-input100 validate-input"
                  data-validate="Password is required"
                >
                  <input
                    class="input100"
                    type="password"
                    v-model="password"
                    placeholder="Password"
                    autocomplete="current-password"
                  />
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                </div>
                <div class="container-login100-form-btn">
                  <button
                    type="button"
                    class="login100-form-btn"
                    @click="login"
                    :disabled="disabled"
                  >
                    Login
                  </button>
                </div>
                <!-- <div class="text-center p-t-12">
                  <span class="txt1"> Forgot </span>
                  <a class="txt2" href="#"> Username / Password? </a>
                </div> -->
                <!-- <div class="text-center p-t-136">
                  <a class="txt2" href="/register">
                    Register
                    <i
                      class="fa fa-long-arrow-right m-l-5"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div> -->
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'font-awesome/css/font-awesome.min.css'

export default {
  head: {
    title: 'Login',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'Welcome to LHR - Home',
      },
    ],
  },
  name: 'Login',
  data() {
    return {
      username: '',
      password: '',
      disabled: false,
    }
  },
  mounted() {
    if (this.$auth.loggedIn) {
      this.$router.push('/admin')
    }
  },
  methods: {
    async login() {
      this.disabled = true
      try {
        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password,
          },
        })
        this.disabled = false
        this.$router.push('/admin')
      } catch (e) {
        this.error = e.response.data.message
        this.disabled = false
      }
    },
  },
}
</script>

<style scope>
@import url('~assets/home/custom.css');
@import url('~assets/auth/custom.css');
</style>
