<template>
  <div>
    <video-player ref="vid" :options="videoOptions" class="vjs-big-play-centered video-js"/>
  </div>
</template>

<script>
import VideoPlayer from "@/components/VideoPlayerBIG.vue";
import socket from '~/plugins/websocket.js'

import 'video.js/dist/video-js.css'
export default {
  data(){
    return{
      videoOptions: {
				autoplay: false,
				controls: false,
        crossOrigin: 'use-credentials',
        muted: "muted",
				sources: [
					{
						src: '',
            type: "application/x-mpegURL"
					}
				]
			},
    }
  },
  mounted(){
    var url = new URL(this.$route.query.cctvURL);
    this.playCCTV(url.href);
    socket.close();
  },
  components:{
    VideoPlayer
  },
  methods:{
    playCCTV(val) {
      this.videoOptions.sources[0].src = val;
      console.log(this.videoOptions.sources[0].src);
      this.$refs.vid.player.reset();
      this.$refs.vid.player.src(val);
      this.$refs.vid.player.play();
    },
  }
}
</script>

<style scoped>
.video-js {
  height: 100vh !important;
  width: auto !important;
  border-radius: 0px !important;
}
</style>