<template>
  <div class="bg-container">
    <div class="container pt-4">
      <div class="card head wrap-login100">
        <div class="container my-5">
          <div class="row">
            <div class="col md-6">
              <img
                src="https://colorlib.com/etc/lf/Login_v1/images/img-01.png"
                alt="IMG"
              />
            </div>
            <div class="col md-6 text-center">
              <form class="login100-form validate-form">
                <span class="login100-form-title"> Admin Register </span>
                <div
                  class="wrap-input100 validate-input"
                  data-validate="Valid name is required: dani"
                >
                  <input
                    class="input100"
                    type="text"
                    v-model="name"
                    placeholder="nama"
                  />
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-user" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  class="wrap-input100 validate-input"
                  data-validate="Valid username is required: dani"
                >
                  <input
                    class="input100"
                    type="text"
                    v-model="username"
                    placeholder="username"
                  />
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-envelope" aria-hidden="true"></i>
                  </span>
                </div>
                <div
                  class="wrap-input100 validate-input"
                  data-validate="Password is required"
                >
                  <input
                    class="input100"
                    type="password"
                    v-model="password"
                    placeholder="Password"
                    autocomplete="new-password"
                  />
                  <span class="focus-input100"></span>
                  <span class="symbol-input100">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                  </span>
                </div>
                <div>
                  <span class="text-light bg-danger p-2" v-if="respone" style="font-size: 12px;font-weight: 600;">{{respone}}</span>
                </div>
                <div class="container-login100-form-btn">
                  <button type="button" class="login100-form-btn" @click="register">Register</button>
                </div>
                <!-- <div class="text-center p-t-12">
                  <span class="txt1"> Forgot </span>
                  <a class="txt2" href="#"> Username / Password? </a>
                </div> -->
                <div class="text-center p-t-136">
                  <a class="txt2" href="/login">
                    Login
                    <i
                      class="fa fa-long-arrow-right m-l-5"
                      aria-hidden="true"
                    ></i>
                  </a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import 'font-awesome/css/font-awesome.min.css'
import { log } from 'video.js'

const HEAD = {
  headers: {
    Authorization: "Basic bXVsdGVjOm11bHQzYw==",
    "Content-Type": "application/json"
  },
  crossdomain: true
}
export default {
  head: {
    title: 'Register',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' },
      {
        hid: 'description',
        name: 'description',
        content: 'Welcome to LHR - Home',
      },
    ],
  },
  name: 'Register',
  data() {
    return {
      name: '',
      username: '',
      password: '',
      respone: '',
      disabled: false,
    }
  },
  mounted() {
    this.$router.push('/login')
  },
  methods: {
    async register() {
      this.disabled = true
      try {
        await this.$axios.post('admin/register', {
          name: this.name,
          username: this.username,
          password: this.password
        },HEAD)
        .then(res => {
            this.respone = res.data.message
            this.disabled = false
          })

        await this.$auth.loginWith('local', {
          data: {
            username: this.username,
            password: this.password
          },
        })
        t
        this.$router.push('/admin')
      } catch (e) {
        console.log(e.response.status)
        switch (e.response.status) {
          case 406:
            this.respone = "username sudah ada"
            break;
        
          default:
            break;
        }
      }
    }
  },
  watch: {
    username() {
      this.respone = ''
    }
  }
}
</script>

<style scope>
@import url('~assets/home/custom.css');
@import url('~assets/auth/custom.css');
.wrap-login100 {
  padding: 52px 130px 52px 95px !important;
}
</style>